## 命令模式

## 编辑模式

In [43]:
print("hello world!")

hello world!

In [44]:
1+2

3

In [45]:
import pandas as pd

In [46]:
data={"姓名":["张三","李四"],"年龄":[25,30]}
df=pd.DataFrame(data)

In [47]:
df

   姓名  年龄
0  张三  25
1  李四  30

## 1、读取纯文本文件

### 1.1读取csv，使用默认的标题行、逗号分隔符

In [ ]:
import pandas as pd

In [48]:
fpath="./datas/ml-latest-small/ratings.csv"

In [49]:
# 使用pd.read_csv读取数据
ratings=pd.read_csv(fpath)

# 查看前几行数据（显示前5行）
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0     962703
1       1        3     4.0     961247
2       1        6     4.0     962224
3       1       47     5.0     963815
4       1       50     5.0     962931

In [50]:
# 查看数据的形状，返回（行数，列数）
ratings.shape

(9, 4)

In [51]:
# 查看列名列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [52]:
# 查看索引列
ratings.index

RangeIndex(start=0, stop=9, step=1)

In [53]:
# 查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

### 1.2读取txt文件，自己指定分隔符、列名

In [61]:
fpath="./datas/crazyant/access_pvuv.txt"

In [68]:
pvuv=pd.read_csv(
    fpath,
    sep=" ",  #指定列的分隔符
    header=None,  #这个文件没有标题行，所以设置未None
    names=['pdate','pv','uv']
)

In [69]:
pvuv

        pdate   pv   uv
0  2025-06-07   15   49
1  2019-09-10  139   92
2  2019-09-09  185  153
3  2019-09-08  123   59
4  2019-09-07   65   40
5  2019-09-06  157   98

## 2、读取excel文件

In [78]:
fpath="./datas/crazyant/access_pvuv.xlsx"
pvuv=pd.read_excel(fpath,engine='openpyxl')  #读取时指定引擎engine='openpyxl'，可以解决编码不兼容的问题。

In [79]:
pvuv

          日期   PV   UV
0 2025-06-07   15   49
1 2019-09-10  139   92
2 2019-09-09  185  153
3 2019-09-08  123   59
4 2019-09-07   65   40
5 2019-09-06  157   98

## 3、读取MySQL数据库

In [82]:
import pymysql
conn=pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='root',
    database='pandas_test',
)

In [88]:
# pandas的read_sql函数更推荐使用SQLAlchemy连接或数据库连接字符串，所以要用SQLAlchemy构建连接。
from sqlalchemy import create_engine

# 1、用SQLAlchemy创建引擎
# 格式：mysql+驱动://用户名:密码@主机:端口/数据库名
engine=create_engine('mysql+mysqlconnector://root:root@localhost:3306/pandas_test')

# 2、用engine作为con参数传入read_sql
mysql_page=pd.read_sql("select * from crazyant_pvuv",con=engine)

In [87]:
mysql_page

        pdate   pv   uv
0  2025-06-07   15   49
1  2019-09-10  139   92
2  2019-09-09  185  153
3  2019-09-08  123   59
4  2019-09-07   65   40
5  2019-09-06  157   98

In [89]:
# 3、用完关闭引擎
engine.dispose()