# 03.Pandas数据结构

###   1.Series
###   2.DataFrame
###   3.从DataFrame中查询出Series

In [1]:
import pandas as pd
import numpy as np

## 1.Series
### Series是一种类似于一维数组的对象，它由一维数组（不同数据类型）以及一组与之相关的数据标签（即索引）组成。

### 1.1仅有数据列表即可产生最简单的Series

In [2]:
s1=pd.Series([1,'a',5.2,7])

In [3]:
# 左侧为索引，右侧是数据
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [4]:
# 获取索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# 获取数据
s1.values

array([1, 'a', 5.2, 7], dtype=object)

### 1.2创建一个具有标签索引的Series

In [6]:
s2=pd.Series([1,'a',5.2,7],index=['d','b','a','c'])

In [7]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [8]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

### 1.3使用Python字典创建Series

In [9]:
# 字典{key:value}
sdata={'Ohio':35000,'Texas':72000,'Oregon':16000,'Utah':5000}

In [10]:
s3=pd.Series(sdata)

In [11]:
s3

Ohio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

### 1.4根据标签索引查询数据
#### 类似Python的字典dict

In [12]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [13]:
s2['a']

5.2

In [14]:
type(s2['a'])

float

In [15]:
s2[['b','a']]

b      a
a    5.2
dtype: object

In [17]:
type(s2[['b','a']])
# 查询两个值，结果还是Series

pandas.core.series.Series

## 2.DataFrame
#### DataFrame是一个表格型的数据结构
#### ·  每列可以是不同的值类型（数值、字符串、布尔值等）
#### ·  既有行索引index，也有列索引columns
#### ·  可以被看做由Series组成的字典
#### 创建dataframe最常用的方法，见02节读取纯文本文件、excel、mysql数据库

### 2.1根据多个字典序列创建dataframe

In [20]:
data={
    'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
    'year':[2000,2001,2002,2001,2002],
    'pop':[1.5,1.7,3.6,2.4,2.9]
}
df=pd.DataFrame(data)

In [21]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [22]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [23]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [24]:
df.index

RangeIndex(start=0, stop=5, step=1)

## 3.从DataFrame中查询出Series
#### ·  如果只查询一行、一列，返回的是pd.Series
#### ·  如果查询多行、多列，返回的是pd.DataFrame

In [25]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

### 3.1查询一列，结果是一个pd.Series

In [26]:
df['year']

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64

In [27]:
type(df['year'])

pandas.core.series.Series

### 3.2查询多列，结果是一个pd.DataFrame

In [28]:
df[['year','pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [29]:
type(df[['year','pop']])

pandas.core.frame.DataFrame

### 3.3查询一行，结果是一个pd.Series

In [31]:
# loc[1]：查询索引为1的那一行的数据
df.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [32]:
type(df.loc[1])

pandas.core.series.Series

### 3.4查询多行，结果是一个pd.DataFrame

In [36]:
# 用切片的操作来返回多行。1：3表示从索引1到索引3之间的所有行
df.loc[1:3]
# 注意：在Python中的切片1:3是不会包含末尾元素3；但是在DataFrame中会包含。

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [37]:
type(df.loc[1:3])

pandas.core.frame.DataFrame