## **Pandas的axis参数怎么理解？**
#### 1、axis=0或者"index":
####  -- 如果是单行操作，就指的是某一行
####  -- 如果是聚合操作，指的是跨行cross rows
#### 2、axis=1或者"columns":
####  -- 如果是单列操作，就指的是某一列
####  -- 如果是聚合操作，指的是跨列cross columns
#### **按哪个axis，就是这个axis要动起来（类似被for遍历），其他的axis保持不动**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    # arange()是Numpy库里用于创建数组的函数，这里的np.arange(12)的作用是生成一个元素从0开始，到11结束的一维数组。
    # reshape(3,4)是Numpy中用于改变数组形状的操作，其核心作用是把数组重新组织成3行4列的二维数组，需满足“原数组元素总数=新形状元素总数（3*4=12）”才合法。
    np.arange(12).reshape(3,4),
    columns=['A','B','C','D']
)

In [3]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## 1、单列drop，就是删除某一列

In [4]:
# 代表的就是删除某列
df.drop("A",axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

## 2、单行drop，就是删除某一行

In [5]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [6]:
# 代表的就是删除某行
df.drop(1,axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

## 3、按axis=0/index执行mean（平均数值）聚合操作
#### 反直觉：输出的不是每行的结果，而是每列的结果

In [7]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
# axis=0 or axis=index
df.mean(axis=0)
# axis=0按行，结果好像应该是三行的平均值

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

<img src="./other_files/pandas-axis-index.png" width="300"/>

#### 但是结果却是ABCD四列的平均值
#### 回顾前面那句话：**按哪个axis，就是这个axis要动起来（类似被for遍历），其他的axis保持不动**
#### 所以，axis=0时，列不动，行的columns往下走，所以得出四列结果

## 4、按axis=1/columns执行mean聚合操作
#### 反直觉：输出的不是每列的结果，而是每行的结果

In [10]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [11]:
# axis=1 or axis=columns
df.mean(axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64

<img src="./other_files/pandas-axis-columns.png" width="700"/>

***指定了按哪个axis，就是这个axis要动起来（类似被for遍历），其他的axis保持不动***

## 5、再次举例，加深理解

In [13]:
def get_sum_value(x):
    return x["A"]*x["B"]*x["C"]*x["D"]

df["sum_value"]=df.apply(get_sum_value,axis=1)

In [14]:
df

   A  B   C   D  sum_value
0  0  1   2   3          0
1  4  5   6   7        840
2  8  9  10  11       7920

***指定了按哪个axis，就是这个axis要动起来（类似被for遍历），其他的axis保持不动***